.authentication-customize {
    text-align: center;
    margin-bottom: -20px;
}

.button-color {
    background-color: #3f51b5;
    font-weight: 300;
}

.button-color:hover {
    background-color: #3f51b5;
}

.error-popup {
    width: 80%;
    background: #464646;
    color: white;
    padding: 12px;
    position: absolute;
    bottom: -40px;
    border-radius: 5px;
    font-size: 0.7em;
}

#invalid-email-error {
    color: red;
    font-size: 0.9em;
}