body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header-logo {
    height: 35px;
    background-color: #ff7f7f;
}

.header-design {
    height: 70px;
    padding: 11px;
    background-color: #800080;
}

.typography {
    background-color: #800080;
    color: white;
    font-size: large;
    font-weight: 400;
    padding: 10px 10px 10px 10px;
}
